.container-register{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
.box-register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}
.cards-register{
    background-color: white;
    padding: 20px;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    border-radius: 8px;
    width: 300%;
}
.form-register .form-control{
    background-color:whitesmoke;
    border: none;
    box-shadow: 0 0 10px ,rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: inset 3px 3px 10px #c5c5c5, inset -3px -3px 10px #ffffff;
    margin-bottom: 10px;
}

.form-register .btn-register{
    color: #ffffff;
    border: none;
    background-color: #31511E;
    border-radius: 20px;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.register .h-register{
    text-align: center;
    color: #31511E ;
    margin-bottom: 20px;
}

.btn-cancel{
    width: 100%;
    color: #31511E;
    border-radius: 0.5em;
    background: #ecebeb;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    border: none;
    border-radius: 20px;
    height: 35px;
}
.btn-cancel .link{
    color: #31511E;
    text-decoration: none;
}

.btn-cancel:active {
    color: #ced0cf;
    box-shadow: inset 4px 4px 12px #b5b4b4, inset -4px -4px 12px #b5b4b4;
    border: none;
  }